{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for el in books %}
            <div class="book col-md-4">
                <h2>{{ el.name }}</h2>
                <p>Автор: {{ el.author }}</p>
                <p>Дата публикации: {{ el.pub_date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}